

[Input]
#Stores the name of the light field to render
fileName = Integral Images\200X200 Hogel(4000 X 4000 Total Resolution farther camera separation).png

#The pixel location per hogel to be shown on output
pixelX = 8
pixelY = 12

[LightField Parameters]
#Total lightField Capture resolution
#Leave as -1 for inputted resolution to be taken from the inputted image
lightFieldX = -1
lightFieldY = -1

#Enter the number of Hogels per column and row
rowHogel = 200
columnHogel = 200


[Output]
#File path for location to store image results of rendering
filePath = C:\Users\N W\Desktop\mun\Computer Science Honours Work\Scripts - Python\SingleViewLightFieldviewer

#The name to be used when saving the image will have the X,Y value attached to the end inside the script
fileName = "outPutLightField"

#Format output images will be in
fileFormat = PNG

#Changes the resolution of the output Image
#if left default will match hogel Resolution
renderResolutionX = -1
renderResolutionY = -1



#Field of view and the angle of it 
lensUnit = FOV
FOV = 90

