[Input]


#The number of camera's in the x and y axis respectively
x=10
y=10

#The starting coordinates of the grid 
start_x=0
start_y=0


#The spacing factor of the grid
spacingFactor=2

#The distance of the camera view
d=10

#The angle of the camear view in the x and y axes
thetaX=70
thetaY=70

#The degrees by which the whole object is to be rotated in the x, y and z axes
rot_x=0
rot_y=0
rot_z=0
